.background {
	color: red;
	background-color: gray;
	background-repeat: no-repeat;
	background-size: 100%;
}

.midpage {
	background-color: white;
	border-color: black;
	border-width: 5px;
	border-style: solid;
	float: center;
	width: 1000px;
	height: 100vh;
}

.login {
	
}

.banner {
	background-image: url("welcome.jpg");
	width: 1000px;
}
